
.scroll-progress {
    position: fixed;
    top: 60px;
    left: 0px;
    width: 100%;
    height: var(--scroll-progress-height, 5px);
    appearance: none;
    color: var(--scroll-progress-bar-color, white);
    background-color: var(--scroll-progress-bg-color, rgb(42, 190, 191));
    border: none;
    z-index: 2000;
}
    .scroll-progress::-webkit-progress-bar {
      background-color: transparent;
    }
  
    .scroll-progress::-webkit-progress-value {
      background-color: var(--scroll-progress-bar-color, white);
    }
  
    .scroll-progress::-moz-progress-bar {
      background-color: var(--scroll-progress-bar-color, white);
    }
  
    .scroll-progress::-ms-fill {
      background-color: var(--scroll-progress-bar-color, white);
    }
